@import '../../constants/consts.scss';
.modal-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.modal-form__left {
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  justify-content: center;
}
.modal-form__right {
  gap: 5px;
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
$inputWidth: 70%;
.input-recipe,
.select-category,
.select-time,
.input-image {
  width: $inputWidth;
}

.input-steps {
  width: $inputWidth;
  height: 80px;
}
.preview-button {
  width: $inputWidth;
  height: 30px;
}
.image-preview {
  object-fit: cover;
  width: $inputWidth;
  height: 130px;
  border-radius: 5px;
}

.error {
  background-color: $main-error-color;
}
