.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__text {
    height: 260px;
  }
  &__button {
    width: 50%;
    height: 40px;
    align-self: center;
  }
}
.modal-image {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.info-modal {
  display: flex;
  flex-direction: row;
  //width: 70%;
}
