@import '../../constants/consts.scss';
.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  &__title {
    @include title1;
  }
  &__text {
    height: 236px;
    overflow: auto;
  }
  &__button {
    width: 50%;
    height: 40px;
    align-self: center;
  }
}
.modal-image {
  width: 40%;
  height: 300px;
  border-radius: 10px;
  object-fit: cover;
}
.info-modal {
  display: flex;
  flex-direction: row;
}
