.main-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 100%;
  min-height: calc(100vh - 58px);
  //align-items: center;
  //overflow: auto;
  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    justify-items: center;
  }
}

@media (max-width: 600px) {
  .main-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    min-height: calc(100vh - 58px);
    &__cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
