.main-page {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  width: 100%;
  min-height: calc(100vh - 58px);
  //overflow: auto;
  &__cards {
    display: flex;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .main-page {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    width: 100%;
    min-height: calc(100vh - 58px);
    &__cards {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
}
